.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.App-content{
  display: flex;
}

.rightSideContent{
  position: relative;
  width: 67vw;
  height: 100vh;
 
}
.keepLeft{
  margin-left: 40px;
}

.app-container{
  height: 750px;
  position: relative;
  text-align: center;
  opacity: 0;
  animation: ani 4s forwards;

}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.app-text{
  background: -webkit-linear-gradient(0.25turn,rgb(137, 171, 171),rgb(6, 54, 54));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  top: 35%;
  left: 25%;

}
.default-text{
  background: -webkit-linear-gradient(0.25turn,rgb(137, 171, 171),rgb(6, 54, 54));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  top: 35%;
  left: 45%;
}

.mylink {
  margin-left: 3px;
  color: #18272F;
  position: relative;
  text-decoration: none;
}

.mylink::before {
  content: '';
  position: absolute;
  width: 100%;
  height:2px;
  border-radius: 4px;
  background-color: #fcfcfc;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.mylink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}










